body{
	background-image: url('fundo.jpg');
}
h1{
	font-family: 'KG Adipose Unicase';
	font-size: 50px;
	color: #4E2F2F;
	text-align: center;
	padding-top: 40px;
}

h2{
	font-family: 'KG Adipose Unicase';
	font-size: 30px;
	color: #006600;
}

p{
	font-family: 'KG Adipose Unicase';
	font-size: 30px;
	color: blue;
}

button{
	color: purple;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-color: purple;
	background-color: #fff;
	font-family: 'Arial';
	font-size: 20px;
}

#exemplo1{
	font-family: 'Arial';
	font-size: 20px;
	color: red;
}

div.ex3 p{
	font-family: 'KG Adipose Unicase';
	font-size: 30px;
	color: #C71585;
}

#exemplo3{
	font-family: 'Arial';
	font-size: 20px;
	color: #D2691E;
}

div.exemplos {
	margin-top: 100px;
	margin-left: 300px;
}
img{
	margin-left: 1000px;
	margin-top: -300px;
}

div.rodape{
	height: 150px;
	width: 100%;
	background-color: #FFA500;
	font-family: 'KG Adipose Unicase';
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding-top: 50px;
}
