
.logo{
	margin-left: 13%;
}

.titulo h1{
	text-align: left;
	text-transform: uppercase;
	font-family: "arial";
	color: #696969;
	font-size: 40px;,
	margin-top: -50px;
	margin-left: 14%;
}

.login{
	margin-top: 10%;
}

.login form{
	padding-top: 10px;
	font-family: "Arial";
	font-size: 50px;
	margin-left: 10%;

}

.usuario{
	margin-left: 47px;
}

.senha{
	padding-top: 20px;
	margin-left: 49px;
}

input{
	margin-top: 20px;
	padding: 30px;
	width: 600px;
	font-size: 60px;
}

.entrar input{
	font-family: "arial";
	font-size: 40px;
	color: #fff;
	background-color:#03899c;
	border: 0px;
	width: 670px;
	height: 125px;
	border-radius: 5px;
	margin-left: 5%;
	text-transform: uppercase;
}


